<IfModule mod_rewrite.c>

    RewriteEngine On

    # Remove index.php from URL
    RewriteCond %{THE_REQUEST} \s/+index\.php[/?\s] [NC]
    RewriteRule ^index\.php(?:/(.*))?$ /$1 [R=301,L,NE]

    # Send requests to CodeIgniter
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php/$1 [L]

</IfModule>